In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [5]:
df_clubs_profile = pd.read_parquet("s3://tech-challenge-3-curated/ClubsProfile/")

In [6]:
df_clubs_profile["country_name"] = np.where(
    df_clubs_profile["club_id"] == "2457",
    "Portugal",
    np.where(
        df_clubs_profile["country_name"].isnull(), "Brazil", df_clubs_profile["country_name"]
    ),
)

In [7]:
df_clubs_profile["target"] = np.where(df_clubs_profile["country_name"] == "Brazil", 0, 1)

In [8]:
df_clubs_profile = df_clubs_profile[["club_id", "target"]].copy()

In [9]:
df_clubs_profile

    club_id  target
0     16653       0
1     22158       0
2       714       1
3       724       1
4     16795       1
..      ...     ...
227    1693       0
228   49123       0
229    3234       0
230   18545       0
231   14724       0

[232 rows x 2 columns]

In [10]:
df_clubs_profile.to_parquet("s3://tech-challenge-3-models/pre-processing/ClubsProfile/clubs_profile.parquet")