In [46]:
import pandas as pd

In [47]:
df_clubs_profile = pd.read_parquet("s3://tech-challenge-3-models/pre-processing/ClubsProfile/clubs_profile.parquet")
df_players_profile = pd.read_parquet("s3://tech-challenge-3-models/pre-processing/PlayersProfile/players_profile.parquet")
df_players_stats = pd.read_parquet("s3://tech-challenge-3-models/pre-processing/PlayersStats/players_stats.parquet")
df_players_injuries = pd.read_parquet("s3://tech-challenge-3-models/pre-processing/PlayersInjuries/players_injuries.parquet")

In [48]:
df_clubs_profile

    club_id  target
0     16653       0
1     22158       0
2       714       1
3       724       1
4     16795       1
..      ...     ...
227    1693       0
228   49123       0
229    3234       0
230   18545       0
231   14724       0

[232 rows x 2 columns]

In [49]:
df_players_profile

,player_id,age,actual_club_id,foot_both,foot_left,foot_right,player_position_attacking_midfield,player_position_central_midfield,player_position_centre_back,player_position_centre_forward,player_position_defensive_midfield,player_position_left_midfield,player_position_left_winger,player_position_left_back,player_position_right_midfield,player_position_right_winger,player_position_right_back,player_position_second_striker
0,100091,34,7178,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1003451,22,967,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1003457,20,15063,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,1004064,21,35499,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1004065,24,3876,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601,997491,21,3197,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1602,997718,22,11086,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1603,997868,22,3348,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1604,99900,34,515,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1605,999248,26,32991,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
df_players_stats

      player_id  appearances  assists  goals  minutesplayed  yellowcards
0        100011        237.0      7.0    2.0        16444.0         67.0
1       1000135         37.0      0.0    4.0         1623.0          6.0
2       1000136          9.0      0.0    0.0          632.0          4.0
3       1000355         57.0      3.0    0.0         4696.0          4.0
4       1000626          2.0      1.0    1.0           88.0          1.0
...         ...          ...      ...    ...            ...          ...
13597    999248         96.0      2.0   24.0         6433.0         10.0
13598    999402         95.0      9.0   37.0         5621.0          7.0
13599    999797         19.0      0.0    1.0         1349.0          3.0
13600    999808         18.0      0.0    1.0         1504.0          6.0
13601    999811          9.0      0.0    2.0          740.0          1.0

[13602 rows x 6 columns]

In [51]:
df_players_injuries

,player_id,days_abdominal_muscle_strain,days_abdominal_problems,days_abscess,days_achilles_heel_problems,days_achilles_tendon_contusion,days_achilles_tendon_irritation,days_achilles_tendon_problems,days_achilles_tendon_rupture,days_achilles_tendon_surgery,...,gamesmissed_torn_muscle_fiber_in_the_adductor_area,gamesmissed_torn_thigh_muscle,gamesmissed_traffic_accident,gamesmissed_unknown_injury,gamesmissed_vein_occlusion,gamesmissed_vertebral_injury,gamesmissed_virus,gamesmissed_whiplash,gamesmissed_wrist_fracture,gamesmissed_wrist_injury
0,1000136,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,100091,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,100131,0,0,0,230,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
3,1003436,0,0,0,0,0,0,0,0,0,...,0,0,0,9,0,0,0,0,0,0
4,1003451,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7332,99559,0,0,0,0,0,0,24,0,0,...,0,0,0,0,0,0,0,0,0,0
7333,99615,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7334,997714,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7335,99900,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7336,99922,0,0,0,0,0,0,0,0,149,...,0,0,0,0,0,0,0,0,0,0

In [52]:
df_variables = (
    df_players_profile.merge(df_players_stats, on="player_id", how="inner")
    .merge(df_clubs_profile, left_on="actual_club_id", right_on="club_id", how="inner")
    .merge(df_players_injuries, on="player_id", how="left")
)

In [53]:
df_variables = df_variables.drop(columns=["actual_club_id", "club_id"])

In [54]:
df_variables.fillna(0, inplace=True)

In [55]:
df_variables.insert(len(df_variables.columns)-1, 'target', df_variables.pop('target'))

In [56]:
df_variables

,player_id,age,foot_both,foot_left,foot_right,player_position_attacking_midfield,player_position_central_midfield,player_position_centre_back,player_position_centre_forward,player_position_defensive_midfield,...,gamesmissed_torn_thigh_muscle,gamesmissed_traffic_accident,gamesmissed_unknown_injury,gamesmissed_vein_occlusion,gamesmissed_vertebral_injury,gamesmissed_virus,gamesmissed_whiplash,gamesmissed_wrist_fracture,gamesmissed_wrist_injury,target
0,100091,34,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1003457,20,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,1004065,24,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,1004725,18,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,1004728,18,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,991800,18,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
725,997076,22,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
726,997465,21,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
727,997472,21,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
728,997491,21,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [57]:
df_variables.to_parquet("s3://tech-challenge-3-models/feature-store/variables/variables.parquet")