In [36]:

import pandas as pd
import numpy as np

In [23]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [10]:
df_clubs_players = pd.read_parquet("s3://tech-challenge-3-curated/ClubsPlayers/")
df_clubs_profile = pd.read_parquet("s3://tech-challenge-3-curated/ClubsProfile/")
df_competition_clubs = pd.read_parquet("s3://tech-challenge-3-curated/CompetitionClubs/")
df_players_stats = pd.read_parquet("s3://tech-challenge-3-curated/PlayersStats/")
df_players_transfers = pd.read_parquet("s3://tech-challenge-3-curated/PlayersTransfers/")
df_players_market_value = pd.read_parquet("s3://tech-challenge-3-curated/PlayersMarketValue/")

In [103]:
df_players_transfers

       player_id transfer_id club_from_id club_from_name club_to_id    club_to_name dt_transfer upcoming season_year            fee
0         129129      533556          458     US Palermo       2420  Vit. Guimarães  2011-01-01    False       10/11  loan transfer
1         299715     1898331        11259    CD Alcoyano      11516    Atl. Levante  2018-01-17    False       17/18    End of loan
2         299715     1584119        21346  Antequera U19       9478    Espanyol U19  2011-07-01    False       11/12              ?
3         257732     1589949        11194  NK Lokomotiva        419   Dinamo Zagreb  2017-06-30    False       16/17    End of loan
4         782476     5141869         1158     FC Lorient        200      FC Utrecht  2024-07-23    False       24/25  loan transfer
...          ...         ...          ...            ...        ...             ...         ...      ...         ...            ...
110025    118689     1527945          506       Juventus        800     Atalanta BC  2016-07-07    False       16/17  loan transfer
110026    500762     2166780        14543  GC Zürich U18         26        FC Basel  2018-07-09    False       18/19         €1.30m
110027    119085     3723077          515   Without Club        321         FC Sion  2022-01-31    False       21/22           None
110028    459988     3491280        33734      Monopoli        2921         Pescara  2022-06-30    False       21/22    End of loan
110029    349310     1496363         2646        Náutico       1751      América-RN  2016-06-03    False       15/16  loan transfer

[110030 rows x 10 columns]

In [104]:
df_players_transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110030 entries, 0 to 110029
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   player_id       110030 non-null  object
 1   transfer_id     109568 non-null  object
 2   club_from_id    109568 non-null  object
 3   club_from_name  109568 non-null  object
 4   club_to_id      109568 non-null  object
 5   club_to_name    109568 non-null  object
 6   dt_transfer     109558 non-null  object
 7   upcoming        109568 non-null  object
 8   season_year     109568 non-null  object
 9   fee             84515 non-null   object
dtypes: object(10)
memory usage: 8.4+ MB

In [18]:
df_players_market_value

,player_id,current_value,club_id,club_name,player_age,dt_market_value,market_value
0,181547,€1.50m,10331,FC Porto B,20,2015-07-01,€1.00m
1,181547,€1.50m,24,Eintracht Frankfurt,24,2019-06-05,€6.00m
2,353365,€1.50m,995,FC Nantes,24,2021-06-04,€2.80m
3,148824,€300k,80,VfL Bochum,26,2021-02-08,€400k
4,356197,€5.00m,1050,Villarreal CF,27,2023-12-22,€12.00m
...,...,...,...,...,...,...,...
173282,126634,€100k,800,Atalanta BC,26,2017-12-29,€150k
173283,334042,€7.00m,940,Celta de Vigo,25,2022-03-21,€6.00m
173284,106987,€20.00m,16,Borussia Dortmund,30,2024-05-29,€20.00m
173285,61253,€800k,418,Real Madrid,25,2012-08-07,€8.00m
173286,520392,€7.00m,614,CR Flamengo,24,2021-02-09,€3.50m